@font-face {
  font-family: "OnePlus Sans Regular";
  src: url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff2) format("woff2"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff) format("woff"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.ttf) format("truetype");
  font-variation-settings:'wght' 400;
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "OnePlus Sans Medium";
  src: url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff2) format("woff2"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff) format("woff"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.ttf) format("truetype");
  font-variation-settings:'wght' 500;
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "OnePlus Sans Bold";
  src: url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff2) format("woff2"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.woff) format("woff"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OPPOSans3.0En-VF.ttf) format("truetype");
  font-variation-settings:'wght' 700;
  font-weight: 700;
  font-style: normal;
  font-display: swap
}


/* 降级字体暂时保留 */
@font-face {
  font-family: OnePlus Sans Display Light;
  font-display: swap;
  src:url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OnePlusSansDisplay-45Lt.woff2) format("woff2"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OnePlusSansDisplay-45Lt.woff) format("woff"),
  url(https://oasis.opstatics.com/content/dam/statics/oasis/font/aem-font/OnePlusSansDisplay-45Lt.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

html body, html {
  font-family: 'OnePlus Sans Regular','Helvetica Neue',Helvetica,Arial,sans-serif,system-ui;
}

.font-medium {
  font-family: 'OnePlus Sans Medium','Helvetica Neue',Helvetica,Arial,sans-serif,system-ui;
}

.font-bold {
  font-family: 'OnePlus Sans Bold','Helvetica Neue',Helvetica,Arial,sans-serif,system-ui;
}

br {
  font-size: 0
}

.font-display {
  font-size: 100px;
}

.font-headline-4 {
  font-size: 60px;
}

.font-headline-3 {
  font-size: 48px;
}

.font-headline-2 {
  font-size: 40px;
}

.font-headline-1 {
  font-size: 30px;
}

.font-title {
  font-size: 24px;
}

.font-subheading {
  font-size: 20px;
}

.font-subtitle {
  font-size: 18px;
}

.font-body-3 {
  font-size: 14px
}

.font-body-2 {
  font-size: 16px
}

.font-body-1 {
  font-size: 14px;
}

.font-descriptions {
  font-size: 12px;
}

@media screen and (min-width: 769px) and (max-width:1599px) {
  .font-display {
    font-size:60px
  }

  .font-headline-4 {
    font-size:36px
  }

  .font-headline-3 {
    font-size:34px
  }

  .font-headline-2 {
    font-size:32px
  }

  .font-headline-1 {
    font-size:24px;
  }

  .font-title {
    font-size:20px;
  }

  .font-subheading {
    font-size:18px
  }

  .font-subtitle {
    font-size:16px
  }
}

@media screen and (max-width: 768px) {
  .font-display {
    font-size:52px
  }

  .font-headline-4 {
    font-size:32px
  }

  .font-headline-3 {
    font-size:24px;
  }

  .font-headline-2 {
    font-size:28px
  }

  .font-headline-1 {
    font-size:20px;
  }

  .font-title {
    font-size:16px;
  }

  .font-subheading {
    font-size:18px
  }

  .font-subtitle {
    font-size:16px
  }

  .font-body-3 {
    font-size:12px;
  }

  .font-body-2 {
    font-size:14px;
  }
}

.os-font-display4 {
  font-size: 76px
}

.os-font-display3 {
  font-size: 58px
}

.os-font-display2 {
  font-size: 38px
}

.os-font-display1,.os-font-headline {
  font-size: 32px
}

.os-font-highlight {
  font-size: 26px
}

.os-font-title,.os-font-title-extended {
  font-size: 18px
}

.os-font-subheading {
  font-size: 17px
}

.os-font-subtitle {
  font-size: 12px
}

.os-font-body1,.os-font-body2,.os-font-button,.os-font-menu {
  font-size: 13px
}

.os-font-descriptions {
  font-size: 11px
}

.font-heading-3xl-display {
  font-size: 120px;
}

.font-heading-2xl-display {
  font-size: 80px;
}

.font-heading-xl-display {
  font-size: 72px;
}

.font-heading-lg-display {
  font-size: 60px;
}

.font-heading-md-display {
  font-size: 48px;
}

.font-subheading-2xl-display {
  font-size: 36px;
}

.font-subheading-xl-display {
  font-size: 32px;
}

.font-subheading-lg {
  font-size: 24px;
}

.font-subheading-md {
  font-size: 20px;
}

.font-body-xl {
  font-size: 18px;
}

.font-body-lg {
  font-size: 16px;
}

.font-body-md {
  font-size: 14px;
}

.font-note-xs {
  font-size: 10px;
}

.font-note-sm {
  font-size: 12px;
}

@media screen and (max-width: 1023px) {
  .font-heading-3xl-display,
  .font-heading-2xl-display,
  .font-heading-xl-display {
    font-size: 44px;
  }
  .font-heading-lg-display {
    font-size: 40px;
  }
  .font-heading-md-display {
    font-size: 36px;
  }
  .font-subheading-2xl-display {
    font-size: 32px;
  }
  .font-subheading-xl-display {
    font-size: 24px;
  }
  .font-subheading-lg {
    font-size: 20px;
  }
  .font-subheading-md {
    font-size: 18px;
  }
  .font-body-xl {
    font-size: 16px;
  }
  .font-body-lg {
    font-size: 14px;
  }
}

.font-display,
.font-headline-4,
.font-headline-3,
.font-headline-2,
.font-headline-1,
.font-title,
.font-subheading,
.font-subtitle,
.font-body-3,
.font-body-2,
.font-body-1,
.font-descriptions,
.os-font-display4,
.os-font-display3,
.os-font-display2,
.os-font-display1,
.os-font-headline,
.os-font-highlight,
.os-font-title,
.os-font-title-extended,
.os-font-subheading,
.os-font-subtitle,
.os-font-body1,
.os-font-body2,
.os-font-button,
.os-font-menu,
.os-font-descriptions,
.font-heading-3xl-display,
.font-heading-2xl-display,
.font-heading-xl-display,
.font-heading-lg-display,
.font-heading-md-display,
.font-subheading-2xl-display,
.font-subheading-xl-display,
.font-subheading-lg,
.font-subheading-md,
.font-body-xl,
.font-body-lg,
.font-body-md,
.font-note-xs,
.font-note-sm {
  line-height: normal;
}
